# 应用
APP_HOST=127.0.0.1
APP_PORT=3000
APP_HTTPS=false
APP_TIMEZONE=Asia/Shanghai
APP_LOCALE=zh-cn
#数据库
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=password
DB_NAME=3r
#Open API
API_TITLE=Nest_3R
API_DESCRIPTION=NsetJS开发教程_3R
API_DEFAULT_VERSION=v1
